APPLICATION_ROOT        = '/api'
SECRET_KEY              = 'This should be a random string'
SQLALCHEMY_DATABASE_URI = 'sqlite:///idealab.db'
# OAuth providers (use empty strings to disable a provider)
FACEBOOK_APP_ID         = ''
FACEBOOK_APP_SECRET     = ''
GOOGLE_ID               = ''
GOOGLE_SECRET           = ''
TWITTER_CONSUMER_KEY    = ''
TWITTER_CONSUMER_SECRET = ''
# Fallback redirect after OAuth
OAUTH_REDIRECT          = '/#idealab'
