[Unit]
Description=Idealab API service

[Service]
Type=simple
Restart=always
ExecStart=/home/bs/idealab-api/venv/bin/python /home/bs/idealab-api/idealab.py

